<div
    class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden"
    style='font-family: Inter, "Noto Sans", sans-serif;'
>
    <div class="layout-container flex h-full grow flex-col">
        <header
            class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f1f2f4] px-10 py-3"
        >
            <div class="flex items-center gap-4 text-[#121416]">
                <div class="size-4">
                    <svg
                        viewBox="0 0 48 48"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M4 42.4379C4 42.4379 14.0962 36.0744 24 41.1692C35.0664 46.8624 44 42.2078 44 42.2078L44 7.01134C44 7.01134 35.068 11.6577 24.0031 5.96913C14.0971 0.876274 4 7.27094 4 7.27094L4 42.4379Z"
                            fill="currentColor"></path>
                    </svg>
                </div>
                <h2
                    class="text-[#121416] text-lg font-bold leading-tight tracking-[-0.015em]"
                >
                    Miguel Pineda
                </h2>
            </div>
            <div class="flex flex-1 justify-end gap-8">
                <div class="flex items-center gap-9">
                    <a
                        class="text-[#121416] text-sm font-medium leading-normal"
                        href="#">About</a
                    >
                    <a
                        class="text-[#121416] text-sm font-medium leading-normal"
                        href="#">Projects</a
                    >
                    <a
                        class="text-[#121416] text-sm font-medium leading-normal"
                        href="#">Contact</a
                    >
                </div>
                <div
                    class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAuQbsUYDeG2MUjiahdmA-93-3I9ljErTZb9-XkLnicOfFexRUq_aNe-JBbQkZpbd0itLMT57YwND1-cZgxcanVjuvNgoARGKYulLfEbJ3glpUZzBT8aZP8U62vJCm90yeKtqjgvVBzhtYc68V2hDx_erPf4Cxsmhxh5jBmEVIC38q_KeqrzPFc8gNlS96S-EPt_SH6kI4lGHi-80kkay3JoSkI50CXUOmqFnisUj16EX9jVHfYuLz7q7u6ElfqsjiXczhP4HfWqrFB");'
                >
                </div>
            </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
            <div
                class="layout-content-container flex flex-col max-w-[960px] flex-1"
            >
                <div class="flex p-4 @container">
                    <div class="flex w-full flex-col gap-4 items-center">
                        <div class="flex gap-4 flex-col items-center">
                            <div
                                class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-32 w-32"
                                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBtwsQlsltZmQ-hYdSHh8L755vtyqLtxDat3Tqm24yRtxn4g82A8TXOtW2LrbV4eMtouR3wdvSKYIkvOdIjBXjI4ACINoCF6cH0bjlH27fz_3CB31lITcR_ln9J21qW4gw3K19RuQZHamcl2QFHieR2HX5LeWZMm4hHiqU4fahxdv38ngufRB7r3IhNH86Nps4-dGWgpchnGrh0Kn9XImIIUVw9Ad7TyzEUSAohCJOwtyYLApet0HNYH0l3tVbrQHq6SRAU9AoGitj7");'
                            >
                            </div>
                            <div
                                class="flex flex-col items-center justify-center justify-center"
                            >
                                <p
                                    class="text-[#121416] text-[22px] font-bold leading-tight tracking-[-0.015em] text-center"
                                >
                                    Miguel Angel Pineda Vega
                                </p>
                                <p
                                    class="text-[#6a7681] text-base font-normal leading-normal text-center"
                                >
                                    DevOps Developer
                                </p>
                                <p
                                    class="text-[#6a7681] text-base font-normal leading-normal text-center"
                                >
                                    Experienced DevOps professional with a
                                    passion for automation and efficiency.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <h2
                    class="text-[#121416] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5"
                >
                    About Me
                </h2>
                <p
                    class="text-[#121416] text-base font-normal leading-normal pb-3 pt-1 px-4"
                >
                    I am a seasoned DevOps engineer with over 5 years of
                    experience in automating and streamlining software
                    development and deployment processes. My expertise lies in
                    building scalable and resilient infrastructure, implementing
                    CI/CD pipelines, and fostering a collaborative DevOps
                    culture. I am dedicated to continuous learning and staying
                    abreast of the latest technologies to deliver innovative
                    solutions.
                </p>
                <h2
                    class="text-[#121416] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5"
                >
                    Technical Skills
                </h2>
                <div class="flex gap-3 p-3 flex-wrap pr-4">
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Cloud Computing
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Infrastructure as Code
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            CI/CD
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Containerization
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Orchestration
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Monitoring
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Logging
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Scripting
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Configuration Management
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Version Control
                        </p>
                    </div>
                </div>
                <h2
                    class="text-[#121416] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5"
                >
                    Tools
                </h2>
                <div class="flex gap-3 p-3 flex-wrap pr-4">
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            AWS
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Azure
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            GCP
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Docker
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Kubernetes
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Jenkins
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            GitLab CI
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Terraform
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Ansible
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Prometheus
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Grafana
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Git
                        </p>
                    </div>
                </div>
                <h2
                    class="text-[#121416] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5"
                >
                    Methodologies
                </h2>
                <div class="flex gap-3 p-3 flex-wrap pr-4">
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Agile
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Scrum
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            Kanban
                        </p>
                    </div>
                    <div
                        class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f2f4] pl-4 pr-4"
                    >
                        <p
                            class="text-[#121416] text-sm font-medium leading-normal"
                        >
                            DevOps
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
