---
const { t, lang = "en" } = Astro.props;
---

<script>
    window.changeIdiom = () => {
        const current = window.location.pathname;
        const newPath = current.startsWith("/es")
            ? current.replace(/^\/es/, "") || "/"
            : `/es${current}`;
        window.location.href = newPath;
    };
</script>

<header
    class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f1f2f4] px-10 py-3"
>
    <div class="flex items-center gap-4 text-[#121416]">
        <div class="size-4">
            <svg
                viewBox="0 0 48 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M4 42.4379C4 42.4379 14.0962 36.0744 24 41.1692C35.0664 46.8624 44 42.2078 44 42.2078L44 7.01134C44 7.01134 35.068 11.6577 24.0031 5.96913C14.0971 0.876274 4 7.27094 4 7.27094L4 42.4379Z"
                    fill="currentColor"></path>
            </svg>
        </div>
        <a
            href="/"
            class="text-[#121416] text-lg font-bold leading-tight tracking-[-0.015em]"
        >
            Miguel Pineda
        </a>
    </div>
    <div class="flex flex-1 justify-end gap-8">
        <div class="flex items-center gap-9">
            <a
                class="text-[#121416] text-sm font-medium leading-normal"
                href={lang === "en" ? "/about" : "/es/about"}>{t.nav.about}</a
            >
            <a
                class="text-[#121416] text-sm font-medium leading-normal"
                href="#">{t.nav.projects}</a
            >
            <a
                class="text-[#121416] text-sm font-medium leading-normal"
                href={lang === "en" ? "/contact" : "/es/contact"}
                >{t.nav.contact}</a
            >
            <a
                class="text-[#121416] text-sm font-medium leading-normal cursor-pointer"
                onclick="changeIdiom()">{lang === "en" ? "ES" : "EN"}</a
            >
        </div>
        <div
            class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
            style='background-image: url("/me.png");'
        >
        </div>
    </div>
</header>
